#appView section[data-type="content"] > header {
	/* double override when using theme, using theme-01 as base */
	height: auto !important;
	padding: 1.1rem 3.4rem !important;
	background: transparent !important;
	background-image: none !important;
	margin: 0 !important;
	font-family: "MozTTLight", Sans-serif !important;
    font-weight: 100 !important;
	font-size: 2.4rem;
	line-height: 2rem;
	text-transform: none;
	text-align: center;
    color: $theme_01_text_color !important;
    border-bottom: .1rem solid $theme_01_border_color !important;
    box-shadow: none !important;
}

#appView section[data-type="detail"] {
	@include inset-shadow;
}

#appView section[data-type="detail"] > div:nth-child(1) {
	height: 20rem;
}

#appView section[data-type="detail"] > div:nth-child(2) {
	padding: 1rem 1rem;
	font-family: "MozTTLight", Sans-serif;
	font-size: 1.7rem;
	text-align: center;
}

#appView section[data-type="detail"] > div:nth-child(3) {
	padding: 0 3.4rem 2rem 3.4rem;
	text-align: center;
}

#appView section[data-type="content"] > footer {
	padding: 1.3rem 3.2rem;
	font-size: 1.4rem;
	border-top: .1rem solid rgba(255,255,255, 0.5);
	background-color: $theme_01_window_background;
}

#appView section[data-type="content"] > footer h2:nth-child(1) {
	font-size: 1.4rem;
	font-weight: 600;
	margin: 0;
}

#appView section[data-type="content"] > footer p:nth-child(2) {
	font-size: 1.4rem;
	font-weight: 100;
	line-height: 1.8rem;
	margin: 0;
}

/* ----------------------------------
 * PRODUCT DETAILS: frog themes
 * ---------------------------------- */


#appView.theme-01 {
	background-color: $theme_01_window_background;
}