/* double override when using theme, using theme-01 as base */
#appView.theme-01 section[data-type="content"] > header {
	border-bottom: .1rem solid $theme_01_border_color !important;
}

#appView.theme-02 section[data-type="content"] > header {
	border-bottom: .1rem solid $theme_02_border_color !important;
}

#appView section[data-type="detail"], #appViewProductDetail section[data-type="detail"] {
	@include inset-shadow;
}

#appView section[data-type="detail"] > div:nth-child(1) {
	height: 20rem;
}

#appView section[data-type="detail"] > div:nth-child(2) h2 {
	padding: 1rem 1rem;
	font-family: "MozTTLight", Sans-serif;
	font-size: 1.6rem;
	text-align: center;
	margin:0rem;
	padding:0rem;
}

#appView section[data-type="detail"] > div:nth-child(2) h3 {
	padding: 1rem 1rem;
	font-family: "MozTTLight", Sans-serif;
	font-size: 1.4rem;
	text-align: center;
	margin:0rem;
	padding:0rem;	
	font-weight:500;
}


#appView section[data-type="detail"] > div:nth-child(3) {
	margin:0.6rem 0 0 0;
	padding: 0 3.4rem 2rem 3.4rem;
	text-align: center;
}

#appViewProductDetail section[data-type="detail"].fade > div > img {
	display:block;
}

#appView.theme-01 section[data-type="content"] > footer, #appViewProductDetail.theme-01 section[data-type="content"] > footer {
	border-top: .1rem solid $theme_01_footer_border_color;
	background-color: $theme_01_window_background;
}

#appView.theme-02 section[data-type="content"] > footer, #appViewProductDetail.theme-02 section[data-type="content"] > footer {
	border-top: .1rem solid $theme_02_footer_border_color;
	background-color: $theme_02_window_background;
}

#appView section[data-type="content"] > footer, #appViewProductDetail section[data-type="content"] > footer {
	padding: 1.3rem 3.2rem;
	font-size: 1.4rem;
	min-height:10.6rem;
}

#appView section[data-type="content"] > footer, #appViewProductDetail section[data-type="content"] > footer {
	padding: 1.3rem 3.2rem;
	font-size: 1.4rem;
	/*
	border-top: .1rem solid rgba(255,255,255, 0.5);
	background-color: $theme_01_window_background;
	*/
}

#appView section[data-type="content"] > footer h2:nth-child(1), #appViewProductDetail section[data-type="content"] > footer h2 {
	font-size: 1.4rem;
	font-weight: 600;
	margin: 0;
}

#appViewProductDetail section[data-type="content"] > footer h2 button {
	position:relative;
	float:right;
	right:0;
}

#appViewProductDetail section[data-type="content"] > footer h2:nth-child(1) span {
	display: inline-block;
    max-width: 13.2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


#appViewProductDetail section[data-type="content"] > footer h2:nth-child(2) {
	margin:0.4rem 0 0.6rem 0;
}

#appView section[data-type="content"] > footer p:nth-child(2), #appViewProductDetail section[data-type="content"] > footer p:nth-child(3) {
	font-size: 1.4rem;
	font-weight: 100;
	line-height: 1.8rem;
	margin: 0;
}

/* ----------------------------------
 * PRODUCT DETAILS: frog themes
 * ---------------------------------- */


#appView.theme-01 {
	background-color: $theme_01_window_background;
}