/*
* SASS source file for frog css
*
* This will be moved to another structure in the very near future.
*
* */

/* variables */


$default_primary_color : white;
$default_secondary_color: #eaeaea;
$default_tertiary_color: #a5a5a5;
$default_highlight_color: #00abc9;
$default_border_color: #4c4c4c;
$default_text_color: black;

$aqua_color: #05686d;

/* mixins */

@mixin text-large {
	font-size: 2.4rem;
	font-weight: 100;
}

@mixin text-medium {
    font-size: 2.2rem;
    font-weight: 100;
}

@mixin content-header {
    color:#ccc;
    text-transform:uppercase;
    font-size:1.2rem;
}

@mixin input-text {
    font-family: "OpenSans", Sans-serif;
    font-size:1.1rem;
}

@mixin list-header {
	height: auto !important;
	padding: 0.3rem 3.4rem 0 3.4rem !important;
	background: transparent !important;
	background-image: none !important;
	margin: 0 !important;
	font-family: "MozTTMedium", Sans-serif !important;
    font-weight: 100 !important;
	font-size: 1.4rem;
	line-height: 2rem;
	text-transform: none;
    color: $default_text_color !important;
    box-shadow: none !important;
}


/* scss imports */

@import "gaia/fonts.css";
@import "gaia/widgets/buttons.css";
@import "gaia/widgets/headers.css";
@import "gaia/widgets/lists.css";
@import "gaia/widgets/drawer/style.css";

@import "frog/fonts";
@import "frog/widgets/_lists";
@import "frog/widgets/_buttons";
@import "frog/widgets/_containers";
@import "frog/widgets/_headers";
@import "frog/widgets/_accordion";
@import "frog/widgets/_inputs";

@import "frog/screens/_template_details";
@import "frog/screens/_app_builder";
@import "frog/screens/_app_builder_edit_icon";
@import "frog/screens/_left_nav";
/* TODO: consolidate product CSS */
@import "frog/screens/_product_list";
@import "frog/screens/_product_list_edit";
@import "frog/screens/_product_add_image";
@import "frog/screens/_product_detail_view";
@import "frog/screens/_product_detail_edit";

/* setting base font size to something rational, 1.4rem = 14px, 3.2 = 32px  */

html { font-size: 62.5%; }

body {
	margin: 0px;
	font-family: 'Open Sans', Sans-serif;
	background-color: white;
	color: black;
}

ul {
	list-style-type: none;
	margin: 0;
}

ul > li {
	padding: 0;
}

a:link { color: $default_text_color; text-decoration: none; }
a:visited { color: $default_text_color; text-decoration: none; }
a:hover { color: $default_text_color; text-decoration: none; }
a:active { color: $default_text_color; text-decoration: none; }

.hidden {
	display: none;
}

/* due to FF laking support of flex-wrap we need to use float */

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}


/* rory temp stuff */
#appContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.page {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transform:translate3d(0,0,0);
}

.stage-center {
    top: 0;
    left: 0;
}

.stage-left {
    left: -100%;
}

.stage-right {
    left: 100%;
}

.transition {
    -moz-transition-duration: .375s;
    -webkit-transition-duration: .375s;
    -o-transition-duration: .375s;
}