/*
* SASS source file for frog css
*
* This will be moved to another structure in the very near future.
*
* */

/* variables */

$aqua_color: #05686d;


/* scss imports */

@import "gaia/fonts.css";
@import "gaia/widgets/buttons.css";
@import "gaia/widgets/headers.css";
@import "gaia/widgets/lists.css";
@import "gaia/widgets/drawer/style.css";

@import "frog/fonts";
@import "frog/widgets/_buttons";
@import "frog/widgets/_containers";
@import "frog/widgets/_headers";
@import "frog/widgets/_accordion";


/* setting base font size to something rational, 1.4rem = 14px, 3.2 = 32px  */

html { font-size: 62.5%; }

body {
	margin: 0px;
	font-family: 'Open Sans', Sans-serif;
	background-color: black;
	color: white;
}

ul {
	list-style-type: none;
	margin: 0;
}

ul > li {
	padding: 0;
}