@import url(gaia/fonts.css);
@import url(gaia/widgets/buttons.css);
@import url(gaia/widgets/headers.css);
@import url(gaia/widgets/lists.css);
@import url(gaia/widgets/drawer/style.css);
/*
* SASS source file for frog css
*
* This will be moved to another structure in the very near future.
*
* */
/* variables */
/* mixins */
/* scss imports */
@font-face {
  font-family: 'OpenSansLight';
  font-weight: normal;
  src: url(frog/fonts/OpenSans-Light-webfont.ttf) format("truetype");
}

/******************************************************************
 * 
 * LIST EXTENSIONS AND OVERRIDES
 *
 * Notes:
 * 1. Need to change the checkbox on the edit list as it's is editable (Duh).
 * 
 */
/* ----------------------------------
 * LISTS: frog
 * ---------------------------------- */
/* line 15, ../../app/styles/frog/widgets/_lists.scss */
[data-type="list"] {
  padding: 0 0;
}

/* line 19, ../../app/styles/frog/widgets/_lists.scss */
[data-type="list"] > header {
  height: auto !important;
  padding: 0.3rem 3.4rem 0 3.4rem !important;
  background: transparent !important;
  background-image: none !important;
  margin: 0 !important;
  font-family: "MozTTMedium", Sans-serif !important;
  font-weight: 100 !important;
  font-size: 1.4rem;
  line-height: 2rem;
  text-transform: none;
  color: black !important;
  box-shadow: none !important;
}

/* line 23, ../../app/styles/frog/widgets/_lists.scss */
[data-type="list"] li {
  padding: 0 3.4rem;
  border-bottom: solid 1px #5f5f5f;
}

/*
[data-type="list"] li p {
	color: white !important;
}*/
/* ----------------------------------
 * EDIT LISTS: frog, "app builder settings"
 * ---------------------------------- */
/* Checkable content */
/* line 40, ../../app/styles/frog/widgets/_lists.scss */
[data-type="list"] li > label {
  pointer-events: none;
  position: absolute;
  top: -.4rem;
  bottom: 0;
  right: 0;
  left: -.8rem;
  z-index: 1;
  width: auto;
  height: auto;
  border: none;
}

/* line 53, ../../app/styles/frog/widgets/_lists.scss */
[data-type="list"] li > label input {
  opacity: 0;
  height: 5rem;
  width: 5rem;
  background-color: transparent;
}

/* line 60, ../../app/styles/frog/widgets/_lists.scss */
[data-type="list"] li > label input[type='checkbox']:checked + div {
  background: transparent url(frog/widgets/buttons/images/check.png) no-repeat center center;
}

/* line 64, ../../app/styles/frog/widgets/_lists.scss */
[data-type="list"] li > label input + div {
  position: relative;
  display: block;
  height: 5rem;
  width: 5rem;
  left: 0;
  top: -5rem;
  margin-left: 0;
}

/* line 74, ../../app/styles/frog/widgets/_lists.scss */
[data-type="list"] [data-type="edit"] li {
  transform: none;
  padding: 0 0 0 0rem;
}

/* line 79, ../../app/styles/frog/widgets/_lists.scss */
[data-type="list"] [data-type="edit"] li p {
  margin-left: 3.4rem;
}

/* line 83, ../../app/styles/frog/widgets/_lists.scss */
[data-type="list"] [data-type="edit"] li > label {
  pointer-events: auto;
}

/* line 87, ../../app/styles/frog/widgets/_lists.scss */
[data-type="list"] [data-type="edit"] li > a:active:after {
  display: none;
}

/* line 91, ../../app/styles/frog/widgets/_lists.scss */
[data-type="list"] [data-type="edit"] li > a {
  width: 100%;
}

/* line 95, ../../app/styles/frog/widgets/_lists.scss */
[data-type="list"] [data-type="edit"] li > a > button {
  position: relative;
  top: -4rem;
  width: 95%;
  outline: none;
  border: 0;
  background: transparent;
}

/* line 104, ../../app/styles/frog/widgets/_lists.scss */
.complete {
  background: transparent url(frog/widgets/buttons/images/check.png) no-repeat top right !important;
}

/******************************************************************
 * 
 * BUTTON EXTENSIONS AND OVERRIDES
 *
 * Notes:
 * 1. not much here.
 * 2. need to add states!
 * 
 */
/* ----------------------------------
 * BUTTONS: frog actions
 * ---------------------------------- */
/* line 15, ../../app/styles/frog/widgets/_buttons.scss */
section[role="region"] button.previous, section[role="region"] button.next {
  height: 4rem;
  width: 4rem;
  outline: none;
  border: none;
}

/* line 21, ../../app/styles/frog/widgets/_buttons.scss */
section[role="region"] button.next {
  transform: rotate(90deg);
  background: transparent url(frog/widgets/accordion/images/arrow_black_up.png) no-repeat center center;
}

/* line 26, ../../app/styles/frog/widgets/_buttons.scss */
section[role="region"] button.previous {
  transform: rotate(-90deg);
  background: transparent url(frog/widgets/accordion/images/arrow_black_up.png) no-repeat center center;
}

/* ----------------------------------
 * BUTTONS: frog themes
 * ---------------------------------- */
/* line 36, ../../app/styles/frog/widgets/_buttons.scss */
section[role="region"].skin-aqua button.buy,
section[role="region"].skin-aqua a[role="button"].buy {
  width: auto;
  height: auto;
  margin: 0;
  padding: 0 1.2rem;
  -moz-box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  background: #05686d;
  border: none;
  border-radius: 0.1rem;
  font-size: 1.7rem;
  font-family: "Open Sans", Sans-serif;
  font-weight: 600;
  line-height: 3rem;
  color: #fff;
  text-align: center;
  text-shadow: none;
  text-decoration: none;
  outline: none;
  box-shadow: 0 0 3px black;
}

/******************************************************************
 * 
 * CONTAINER EXTENSIONS AND OVERRIDES
 *
 * Notes:
 * 1. inconsistent font usage between PSD and Gaia headers, going with Gaia on that.
 * 
 */
/* ----------------------------------
 * CONTAINER: frog themed
 * ---------------------------------- */
/* line 15, ../../app/styles/frog/widgets/_containers.scss */
.skin-aqua.fade {
  background: -moz-linear-gradient(top, black 0%, black 30%, #05686d 100%);
}

/******************************************************************
 * 
 * HEADER EXTENSIONS AND OVERRIDES
 *
 * Notes:
 * 1. inconsistent font usage between PSD and Gaia headers, going with Gaia on that.
 * 
 */
/* ----------------------------------
 * HEADERS: frog icons
 * ---------------------------------- */
/* line 16, ../../app/styles/frog/widgets/_headers.scss */
section[role="region"] > header:first-child .icon.icon-info {
  background-image: url(frog/widgets/headers/images/icons/info.png);
}

/* line 20, ../../app/styles/frog/widgets/_headers.scss */
section[role="region"] > header:first-child .icon.icon-cart {
  background-image: url(frog/widgets/headers/images/icons/cart.png);
}

/* ----------------------------------
 * HEADERS: frog themes
 * ---------------------------------- */
/* line 29, ../../app/styles/frog/widgets/_headers.scss */
section[role="region"].skin-aqua > header:first-child,
.skin-organic section[role="region"] > header:first-child {
  background: #05686d;
}

/* line 34, ../../app/styles/frog/widgets/_headers.scss */
section[role="region"].skin-aqua > header:first-child:after,
.skin-organic section[role="region"] > header:first-child:after {
  margin-top: -0.1rem;
}

/* Navigation links (back, cancel, etc) */
/* line 42, ../../app/styles/frog/widgets/_headers.scss */
section[role="region"].skin-aqua > header:first-child > a .icon:after,
.skin-organic section[role="region"] > header:first-child > a .icon:after,
section[role="region"].skin-aqua > header:first-child > button .icon:after,
.skin-organic section[role="region"] > header > button .icon:after {
  background: #05686d;
}

/* line 49, ../../app/styles/frog/widgets/_headers.scss */
section[role="region"].skin-aqua > header:first-child menu[type="toolbar"] a:last-child,
.skin-organic section[role="region"] > header:first-child menu[type="toolbar"] a:last-child,
section[role="region"].skin-aqua > header:first-child menu[type="toolbar"] button:last-child,
.skin-organic section[role="region"] > header:first-child menu[type="toolbar"] button:last-child {
  background: none;
}

/* line 54, ../../app/styles/frog/widgets/_headers.scss */
section[role="region"].skin-aqua > header,
.skin-organic section[role="region"] > header {
  background: #05686d;
  color: #fff;
}

/* line 60, ../../app/styles/frog/widgets/_headers.scss */
section[role="region"].skin-aqua > header:first-child > button,
section[role="region"].skin-aqua > header:first-child > a {
  background: none;
}

/* using important override here as header seem to be broadly declared in gaia headers.css */
/* line 4, ../../app/styles/frog/widgets/_accordion.scss */
section[data-type="accordion"] {
  -moz-transform: translateZ(0);
  transform: translateZ(0);
}

/* line 10, ../../app/styles/frog/widgets/_accordion.scss */
section[data-type="accordion"], img {
  -moz-user-select: none;
  user-drag: none;
}

/* line 15, ../../app/styles/frog/widgets/_accordion.scss */
section[data-type="accordion"] > .list > li.header {
  height: auto !important;
  padding: 1rem 0rem 1rem 2.1rem !important;
  background: white !important;
}

/* line 21, ../../app/styles/frog/widgets/_accordion.scss */
section[data-type="accordion"] .title {
  font-family: "OpenSansLight";
  font-size: 2.2rem;
  font-weight: normal;
  line-height: 3rem;
  color: black;
}

/* line 29, ../../app/styles/frog/widgets/_accordion.scss */
section[data-type="accordion"] > .list {
  padding: 0px;
  border-top: 1px solid #4c4c4c;
}

/* line 34, ../../app/styles/frog/widgets/_accordion.scss */
section[data-type="accordion"] > .list > li > .list-item {
  display: block;
  padding: 1.3rem 4rem 1.3rem 3.5rem;
  margin: 0;
  font-family: "MozTTLight";
  font-weight: normal;
  font-size: 1.7rem;
  background-color: #eaeaea;
}

/* start horizontal list */
/* line 45, ../../app/styles/frog/widgets/_accordion.scss */
.horizontal-list {
  margin: 2rem 0 0.8rem 0;
}

/* line 49, ../../app/styles/frog/widgets/_accordion.scss */
#templateList .list-item-body {
  overflow-x: scroll;
  overflow-y: hidden;
  background: #a5a5a5;
  box-shadow: inset 0 0 0.2rem black;
  border-bottom: 1px solid #4c4c4c;
}

/* line 57, ../../app/styles/frog/widgets/_accordion.scss */
#templateList .list-item-body > .horizontal-list {
  width: 600px;
  /* display: flex; */
  /* flex-direction: row; */
  /* align-items: stretch; */
  /* justify-content: flex-start; */
}

/* line 65, ../../app/styles/frog/widgets/_accordion.scss */
.horizontal-list > .list-item {
  width: 130px;
  margin-right: 2.1rem;
  float: left;
  font-family: "OpenSansLight";
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 2.4rem;
  text-align: center;
  color: white;
}

/* line 77, ../../app/styles/frog/widgets/_accordion.scss */
.horizontal-list > .list-item a:link {
  color: white;
}

/* line 78, ../../app/styles/frog/widgets/_accordion.scss */
.horizontal-list > .list-item a:visited {
  color: white;
}

/* line 79, ../../app/styles/frog/widgets/_accordion.scss */
.horizontal-list > .list-item a:hover {
  color: white;
}

/* line 80, ../../app/styles/frog/widgets/_accordion.scss */
.horizontal-list > .list-item a:active {
  color: white;
}

/* line 83, ../../app/styles/frog/widgets/_accordion.scss */
.horizontal-list > .list-item > .template-thumbnail {
  border: 1px solid #bababa;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  -moz-box-sizing: border-box;
}

/* line 89, ../../app/styles/frog/widgets/_accordion.scss */
.horizontal-list > .list-item > .template-thumbnail.selected {
  border: 4px solid #00abc9;
}

/* CSS powered interaction */
/* line 95, ../../app/styles/frog/widgets/_accordion.scss */
.list > li > input[type="radio"] {
  opacity: 0;
  position: absolute;
  display: box;
  width: 320px;
  height: 4rem;
  outline: none;
  border: 1px solid red;
  background-color: red;
}

/* line 106, ../../app/styles/frog/widgets/_accordion.scss */
.list-item-body {
  height: 0px;
  transition: height 1s;
}

/* line 111, ../../app/styles/frog/widgets/_accordion.scss */
.list > li > input[type="radio"]:checked + label + div.list-item-body {
  display: block;
  height: 20.5rem;
  overflow: scroll;
}

/* line 117, ../../app/styles/frog/widgets/_accordion.scss */
.list > li > input[type="radio"]:checked + label.list-item {
  background: #eaeaea url(frog/widgets/accordion/images/arrow_black_up.png) no-repeat 97% 50%;
}

/******************************************************************
 * 
 * INPUT EXTENSIONS AND OVERRIDES
 *
 * Notes:
 * 1. 
 * 
 */
/* ----------------------------------
 * INPUTS: frog form inputs
 * ---------------------------------- */
/* line 14, ../../app/styles/frog/widgets/_inputs.scss */
section[role="region"] input, textarea {
  width: 100%;
  border: 1px solid #cccccc;
  border-radius: 4px;
  padding: 0.5rem;
  box-shadow: inset 0 0 3px #cccccc;
  font-family: "OpenSans", Sans-serif;
  font-size: 1.1rem;
}

/* line 23, ../../app/styles/frog/widgets/_inputs.scss */
section[role="region"] textarea {
  overflow: hidden;
}

/******************************************************************
 * 
 * SCREEN: TEMPLATE DETAILS;
 *
 * Notes:
 * 1.
 * 
 */
/* nav button position */
/* line 11, ../../app/styles/frog/screens/_template_details.scss */
#templateDetail [data-type="content"] .template-detail-header {
  position: relative;
  display: flex;
  flex-direction: column;
}

/* line 17, ../../app/styles/frog/screens/_template_details.scss */
#templateDetail [data-type="content"] button.previous {
  position: absolute;
  top: .7rem;
  left: 1rem;
}

/* line 23, ../../app/styles/frog/screens/_template_details.scss */
#templateDetail [data-type="content"] button.next {
  position: absolute;
  top: .7rem;
  right: 1rem;
}

/* template name carousel
 * 
 * Notes: we need to set some widths during carousel init
 *
 */
/* line 35, ../../app/styles/frog/screens/_template_details.scss */
#templateNameList {
  width: 100%;
}

/* line 39, ../../app/styles/frog/screens/_template_details.scss */
#templateNameList > ul {
  display: flex;
  flex-direction: row;
  width: 1000px;
  padding: 0 !important;
}

/* line 46, ../../app/styles/frog/screens/_template_details.scss */
#templateNameList > ul > li {
  width: 320px;
  font-size: 2.4rem;
  font-weight: 100;
  line-height: 2.2em;
  text-align: center;
}

/* line 53, ../../app/styles/frog/screens/_template_details.scss */
.template-index {
  margin-top: -1.3rem;
  font-weight: 800;
  text-align: center;
}

/* template detail */
/* line 61, ../../app/styles/frog/screens/_template_details.scss */
#templateDetail [data-type="content"] .template-detail {
  display: flex;
  padding: 2rem 0;
  /* flex-direction: row; */
  /* align-items: stretch; */
  /* justify-content: flex-start; */
  background-color: #a6a6a6;
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.5);
}

/* line 71, ../../app/styles/frog/screens/_template_details.scss */
#templateDetail [data-type="content"] .template-detail > img {
  float: left;
  margin: 0 1.5rem;
}

/* line 76, ../../app/styles/frog/screens/_template_details.scss */
#templateDetail [data-type="content"] .template-detail > div {
  float: left;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 12rem;
}

/* line 85, ../../app/styles/frog/screens/_template_details.scss */
#templateDetail [data-type="content"] .template-detail > div > p {
  flex: 1 1 auto;
  margin: 0 0 2rem 0;
  font-size: 1.3rem;
}

/* line 91, ../../app/styles/frog/screens/_template_details.scss */
#templateDetail [data-type="content"] .template-detail .recommend {
  margin: 0;
}

/******************************************************************
 * 
 * SCREEN: APP BUILDER;
 *
 * Notes:
 * 1.
 * 
 */
/* template detail */
/* line 11, ../../app/styles/frog/screens/_app_builder.scss */
#appBuilder [data-type="content"] header {
  height: auto !important;
  padding: 0.3rem 3.4rem 0 3.4rem !important;
  background: #a6a6a6 !important;
  background-image: none !important;
  margin: 0 !important;
  font-family: "MozTTMedium", Sans-serif !important;
  font-weight: 100 !important;
  font-size: 1.4rem;
  line-height: 2rem;
  text-transform: none;
  color: white !important;
  box-shadow: none !important;
}

/* line 26, ../../app/styles/frog/screens/_app_builder.scss */
#appBuilder [data-type="content"] .template-detail {
  position: relative;
  display: flex;
  padding: 2rem 0;
  flex-direction: row;
  justify-content: flex-start;
  border-top: 1px solid #525252;
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.2);
}

/* line 36, ../../app/styles/frog/screens/_app_builder.scss */
#appBuilder [data-type="content"] .template-detail h1 {
  font-size: 2.4rem;
  font-weight: 100;
}

/* line 40, ../../app/styles/frog/screens/_app_builder.scss */
#appBuilder [data-type="content"] .template-detail .template-thumbnail-small {
  height: 9.4rem;
  width: 6.2rem;
  margin: 0 1.5rem;
  border: 0.1rem solid #5b5b5b;
}

/* line 47, ../../app/styles/frog/screens/_app_builder.scss */
#appBuilder [data-type="content"] .template-detail > div:first-child {
  margin-left: 2rem;
  flex: 0;
}

/* line 52, ../../app/styles/frog/screens/_app_builder.scss */
#appBuilder [data-type="content"] .template-detail > div {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 14rem;
}

/* line 60, ../../app/styles/frog/screens/_app_builder.scss */
#appBuilder [data-type="content"] .template-detail > div > h1 {
  margin: 0;
}

/* line 64, ../../app/styles/frog/screens/_app_builder.scss */
#appBuilder [data-type="content"] .template-detail .recommend {
  margin: 0;
}

/* line 68, ../../app/styles/frog/screens/_app_builder.scss */
.preview {
  position: absolute;
  top: 2.2rem;
  right: 2rem;
  height: 8rem;
  width: 2rem;
  outline: none;
  border: 0;
}

/******************************************************************
 * 
 * SCREEN: APP BUILDER EDIT ICON;
 *
 * Notes:
 * 1.
 * 
 */
/* line 10, ../../app/styles/frog/screens/_app_builder_edit_icon.scss */
div.app-icon {
  height: 56px;
  width: 60px;
  text-align: center;
  border: 1px dotted rgba(255, 255, 255, 0.2);
}

/* line 17, ../../app/styles/frog/screens/_app_builder_edit_icon.scss */
#appBuilderEditIcon [data-type="content"] .template-icon {
  position: relative;
  display: flex;
  padding: 2rem 3.4rem;
  flex-direction: row;
  justify-content: flex-start;
  border-top: 1px solid #525252;
  background-color: #303030;
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.5);
}

/* line 32, ../../app/styles/frog/screens/_app_builder_edit_icon.scss */
section[data-type="icon-list"] {
  width: 80%;
  margin: 1rem auto;
  padding: 1rem 2rem;
  border-radius: 1rem;
  background: #5b5b5b;
}

/* line 40, ../../app/styles/frog/screens/_app_builder_edit_icon.scss */
section[data-type="icon-list"] > ul {
  margin: 0;
  padding: 0 1.2rem;
}

/* line 45, ../../app/styles/frog/screens/_app_builder_edit_icon.scss */
section[data-type="icon-list"] > ul > li {
  margin: 1rem;
  float: left;
}

/* line 50, ../../app/styles/frog/screens/_app_builder_edit_icon.scss */
section[data-type="icon-list"] > header {
  height: auto !important;
  padding: 0.3rem 3.4rem 0 3.4rem !important;
  background: transparent !important;
  background-image: none !important;
  margin: 0 !important;
  font-family: "MozTTMedium", Sans-serif !important;
  font-weight: 100 !important;
  font-size: 1.4rem;
  line-height: 2rem;
  text-transform: none;
  color: black !important;
  box-shadow: none !important;
}

/******************************************************************
 * 
 * SCREEN: LEFT NAV;
 *
 * Notes:
 * 1.
 * 
 */
/* line 10, ../../app/styles/frog/screens/_left_nav.scss */
#leftNav .inner > ul > li {
  position: relative;
}

/* line 14, ../../app/styles/frog/screens/_left_nav.scss */
#leftNav .inner > ul > li > button {
  position: absolute;
  top: .2rem;
  left: -1rem;
  outline: none;
  border: 0;
  background: transparent url(frog/widgets/buttons/images/greater.png) no-repeat center right;
}

/* TODO: consolidate product CSS */
/******************************************************************
 * 
 * SCREEN: PRODUCT LIST;
 *
 * Notes:
 * 1.
 * 
 */
/* product list */
/* line 11, ../../app/styles/frog/screens/_product_list.scss */
#productList [data-type="content"] header {
  display: none;
}

/* line 15, ../../app/styles/frog/screens/_product_list.scss */
#productList [data-type="content"] div.product-empty {
  text-align: center;
  padding: 2rem 20% 0 20%;
  font-size: 2.2rem;
  font-weight: 100;
}

/* line 21, ../../app/styles/frog/screens/_product_list.scss */
#productList [data-type="list"] li {
  height: auto;
  padding: 0;
  position: relative;
}

/* line 27, ../../app/styles/frog/screens/_product_list.scss */
#productList [data-type="list"] li > a {
  height: auto;
  min-height: 8.3rem;
}

/* line 32, ../../app/styles/frog/screens/_product_list.scss */
#productList [data-type="list"] li > a > figure {
  margin: 0;
  left: 0;
  margin: 0;
  position: absolute;
  top: 0;
}

/* line 40, ../../app/styles/frog/screens/_product_list.scss */
#productList [data-type="list"] li > a > figcaption {
  padding: 0 3rem 0 9.3rem;
  position: relative;
  right: 0;
  top: 0;
}

/* line 47, ../../app/styles/frog/screens/_product_list.scss */
#productList [data-type="list"] li > a > span {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  min-height: 8.3rem;
  min-width: 3.2rem;
}

/* line 56, ../../app/styles/frog/screens/_product_list.scss */
#productList [data-type="list"] li > a > span.preview-visual {
  background: url("frog/widgets/buttons/images/greater.png") no-repeat left center transparent;
  text-indent: -99rem;
}

/******************************************************************
 * 
 * SCREEN: PRODUCT LIST EDIT;
 *
 * Notes:
 * 1.
 * 
 */
/* product list */
/* line 11, ../../app/styles/frog/screens/_product_list_edit.scss */
#productListEdit [data-type="content"] header {
  display: none;
}

/* line 15, ../../app/styles/frog/screens/_product_list_edit.scss */
#productListEdit [data-type="content"] div.product-empty {
  text-align: center;
  padding: 2rem 20% 0 20%;
  font-size: 2.2rem;
  font-weight: 100;
}

/* line 21, ../../app/styles/frog/screens/_product_list_edit.scss */
#productListEdit [data-type="list"] li {
  height: auto;
  padding: 0;
  position: relative;
  min-height: 8.4rem;
}

/*
#productListEdit [data-type="list"] li > a {
	height:auto;
	min-height:8.3rem;
}
*/
/* line 33, ../../app/styles/frog/screens/_product_list_edit.scss */
#productListEdit [data-type="list"] li > label {
  margin: 0;
  left: 0;
  margin: 0;
  position: absolute;
  top: 0;
}

/* line 41, ../../app/styles/frog/screens/_product_list_edit.scss */
#productListEdit [data-type="list"] li > label > input[type=checkbox] {
  margin: 1.1rem 0.3rem 0.3rem 0rem;
}

/* line 45, ../../app/styles/frog/screens/_product_list_edit.scss */
#productListEdit [data-type="list"] li > figure {
  margin: 0;
  left: 4.4rem;
  margin: 0;
  position: absolute;
  top: 0;
}

/* line 53, ../../app/styles/frog/screens/_product_list_edit.scss */
#productListEdit [data-type="list"] li > figcaption {
  padding: 0 2.2rem 0 13.8rem;
  position: relative;
  right: 0;
  top: 0;
}

/* fixed position buttons on bottom */
/* line 64, ../../app/styles/frog/screens/_product_list_edit.scss */
#productListEdit [data-type="content"] div.chrome-fixed-bottom {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: #4d4d4d;
}

/* line 71, ../../app/styles/frog/screens/_product_list_edit.scss */
#productListEdit [data-type="content"] div.chrome-fixed-bottom > ul {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0 !important;
}

/* line 78, ../../app/styles/frog/screens/_product_list_edit.scss */
#productListEdit [data-type="content"] div.chrome-fixed-bottom > ul > li {
  font-size: 2.4rem;
  font-weight: 100;
  line-height: 2.2em;
  text-align: center;
  display: block;
  width: 100%;
  padding: 0.6rem 1.6rem 0 1.6rem;
}

/******************************************************************
 * 
 * SCREEN: PRODUCT ADD IMAGE;
 *
 * Notes:
 * 1.
 * 
 */
/* product add image */
/* line 11, ../../app/styles/frog/screens/_product_add_image.scss */
#productAddImage [data-type="content"] header {
  display: none;
}

/* line 15, ../../app/styles/frog/screens/_product_add_image.scss */
#productAddImage [data-type="content"] div p {
  margin-top: 20;
}

/* fixed position buttons on bottom */
/* line 20, ../../app/styles/frog/screens/_product_add_image.scss */
#productAddImage [data-type="content"] div.chrome-fixed-bottom {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: #4d4d4d;
}

/* line 27, ../../app/styles/frog/screens/_product_add_image.scss */
#productAddImage [data-type="content"] div.chrome-fixed-bottom > ul {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0 !important;
}

/* line 34, ../../app/styles/frog/screens/_product_add_image.scss */
#productAddImage [data-type="content"] div.chrome-fixed-bottom > ul > li {
  font-size: 2.4rem;
  font-weight: 100;
  line-height: 2.2em;
  text-align: center;
  display: block;
  width: 50%;
  padding: 0.6rem 0 0 0;
}

/* line 44, ../../app/styles/frog/screens/_product_add_image.scss */
#productAddImage [data-type="content"] div.chrome-fixed-bottom > ul > li:first-child {
  padding-left: 1.6rem;
  padding-right: 0.6rem;
}

/* line 49, ../../app/styles/frog/screens/_product_add_image.scss */
#productAddImage [data-type="content"] div.chrome-fixed-bottom > ul > li:last-child {
  padding-left: 0.6rem;
  padding-right: 1.6rem;
}

/******************************************************************
 * 
 * SCREEN: PRODUCT DETAIL VIEW;
 *
 * Notes:
 * 1.
 * 
 */
/* product detail view mode */
/* line 11, ../../app/styles/frog/screens/_product_detail_view.scss */
#productDetailView [data-type="content"] header {
  display: none;
}

/* line 15, ../../app/styles/frog/screens/_product_detail_view.scss */
#productDetailView [data-type="content"] section.box-padded {
  padding: 2rem 2rem 2rem 2rem;
}

/* line 19, ../../app/styles/frog/screens/_product_detail_view.scss */
#productDetailView [data-type="content"] p.box-unpadded {
  margin: 0 0 1.6rem 0;
  padding: 0;
}

/* line 24, ../../app/styles/frog/screens/_product_detail_view.scss */
#productDetailView [data-type="content"] h2 {
  margin: 1.2rem 0 0.3rem 0;
  color: #ccc;
  text-transform: uppercase;
  font-size: 1.2rem;
}

/******************************************************************
 * 
 * SCREEN: PRODUCT DETAIL EDIT;
 *
 * Notes:
 * 1.
 * 
 */
/* product detail edit mode */
/* line 11, ../../app/styles/frog/screens/_product_detail_edit.scss */
#productDetailEdit [data-type="content"] header {
  display: none;
}

/* line 15, ../../app/styles/frog/screens/_product_detail_edit.scss */
#productDetailEdit [data-type="content"] section.box-padded {
  padding: 2rem 2rem 2rem 2rem;
}

/* line 19, ../../app/styles/frog/screens/_product_detail_edit.scss */
#productDetailEdit [data-type="content"] p.box-unpadded {
  margin: 0 0 1.6rem 0;
  padding: 0;
}

/* line 24, ../../app/styles/frog/screens/_product_detail_edit.scss */
#productDetailEdit [data-type="content"] p.box-margin-top {
  margin: 3rem 0 1.6rem 0;
}

/* line 28, ../../app/styles/frog/screens/_product_detail_edit.scss */
#productDetailEdit [data-type="content"] h2 {
  margin: 1.2rem 0 0.3rem 0;
  color: #ccc;
  text-transform: uppercase;
  font-size: 1.2rem;
}

/* setting base font size to something rational, 1.4rem = 14px, 3.2 = 32px  */
/* line 88, ../../app/styles/main.scss */
html {
  font-size: 62.5%;
}

/* line 90, ../../app/styles/main.scss */
body {
  margin: 0px;
  font-family: "Open Sans", Sans-serif;
  background-color: white;
  color: black;
}

/* line 97, ../../app/styles/main.scss */
ul {
  list-style-type: none;
  margin: 0;
}

/* line 102, ../../app/styles/main.scss */
ul > li {
  padding: 0;
}

/* line 106, ../../app/styles/main.scss */
a:link {
  color: black;
  text-decoration: none;
}

/* line 107, ../../app/styles/main.scss */
a:visited {
  color: black;
  text-decoration: none;
}

/* line 108, ../../app/styles/main.scss */
a:hover {
  color: black;
  text-decoration: none;
}

/* line 109, ../../app/styles/main.scss */
a:active {
  color: black;
  text-decoration: none;
}

/* line 111, ../../app/styles/main.scss */
.hidden {
  display: none;
}

/* due to FF laking support of flex-wrap we need to use float */
/* line 118, ../../app/styles/main.scss */
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

/* line 123, ../../app/styles/main.scss */
.cf:after {
  clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
/* line 131, ../../app/styles/main.scss */
.cf {
  *zoom: 1;
}

/* rory temp stuff */
/* line 137, ../../app/styles/main.scss */
#appContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

/* line 145, ../../app/styles/main.scss */
.page {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transform: translate3d(0, 0, 0);
}

/* line 152, ../../app/styles/main.scss */
.stage-center {
  top: 0;
  left: 0;
}

/* line 157, ../../app/styles/main.scss */
.stage-left {
  left: -100%;
}

/* line 161, ../../app/styles/main.scss */
.stage-right {
  left: 100%;
}

/* line 165, ../../app/styles/main.scss */
.transition {
  -moz-transition-duration: .375s;
  -webkit-transition-duration: .375s;
  -o-transition-duration: .375s;
}
