{{#if loading}}
                <h1>Loading...</h1>
            {{else}}
                <!-- represents application screen APP PUBLISH MARKETPLACE LOGIN -->
                <div id="appBuilderPublishMarketplace" role="window">
                    <!-- title bar region -->
                    <section role="region" data-type="header">
                        <header>
                            <button id="back"><span class="icon icon-back">back</span></button>
                            <h1>Publish</h1>
                        </header>
                    </section>

                    <!-- content region -->
                    <section role="region" data-type="content" class="box-padded">
                        <h2>Log into Firefox Marketplace</h2>
                        <p>
                            <label class="label-dark">User name</label>
                            <input type="text" id="username" value="Thatsmyname22">
                        </p>
                        <p>
                            <label class="label-dark">Password</label>
                            <input type="password" id="password" value="">
                        </p>
                        <p>
                            <a href="#">I forgot my user name or password</>
                        </p>
                        <p>
                            <button id="publishLogIn">Log in</button>
                        </p>
                        <p>
                            <a href="#">Register</a> for Firefox Marketplace
                        </p>
                    </section>

                    <!-- footer region -->
                    <section role="region" data-type="footer">
                    <footer></footer>
                    </section>
                </div>
            {{/if}}