//alert('loading');
//mozapps.Templates.fakeMarkupTemplate = "<p>test</p>";
mozapps.Templates.fakeMarkupTemplate = "&lt;html&gt;\r\
&lt;head&gt;\r\
&lt;meta charset='utf-8'&gt;\r\
&lt;metahttp-equiv='X-UA-Compatible'content='IE=edge,chrome=1'&gt;\r\
&lt;title&gt;&lt;/title&gt;\r\
&lt;metaname='description'content=''&gt;\r\
&lt;metaname='viewport'content='width=device-width,initial-scale=1.0,maximum-scale=1.0'&gt;\r\
&lt;metaname='apple-mobile-web-app-capable'content='yes'&gt;\r\
&lt;linkrel='stylesheet'href='styles/main.css'&gt;\r\
&lt;!--temp,forliverefreshdev--&gt;\r\
&lt;style&gt;\r\
#templateList,#templateDetail,#appBuilderEditIcon,#appBuilder,#productList,#productListEdit,#productAddImage,#productDetailView,#productDetailEdit,#appView,appBuilderPublishSubmit,#leftNav{\r\
\tdisplay:none;\r\
}\r\
&lt;/style&gt;\r\
&lt;styletype='text/css'charset='utf-8'&gt;/*Seelicense.txtfortermsofusage*/\r\
/**resetstyling**/\r\
.firebugResetStyles{\r\
\tz-index:2147483646!important;\r\
\ttop:0!important;\r\
\tleft:0!important;\r\
\t\display:block!important;\r\
\tborder:0none!important;\r\
\tmargin:0!important;\r\
\tpadding:0!important;\r\
\toutline:0!important;\r\
\tmin-width:0!important;\r\
\tmax-width:none!important;\r\
\tmin-height:0!important;\r\
\tmax-height:none!important;\r\
\tposition:fixed!important;\r\
\ttransform:rotate(0deg)!important;\r\
\ttransform-origin:50%50%!important;\r\
\tborder-radius:0!important;\r\
\tbox-shadow:none!important;\r\
\tbackground:transparentnone!important;\r\
\tpointer-events:none!important;\r\
\twhite-space:normal!important;\r\
}\r\
r\
.firebugBlockBackgroundColor{\r\
\tbackground-color:transparent!important;\r\
}\r\
\t\r\
\t\r\
\t\r\
\t\r\
\t\r\
\t\r\
";
//console.log(">>>>>>>>>>>>>>>>hi");