{{#if loading}}
    <h1>Loading...</h1>
{{else}}
    {{#if_lt myApps.length compare=1}}
        <li class="header">
            <h2 class="title">Please choose an app template to get started.</h2>
        </li>  
    {{else}}
        <li>
        <input id="item-0" type="radio" name="radio" checked>
          <label for="item-0" class="list-item open">My Apps</label>
          <div id="myAppsBody" class="list-item-body">
            <ul class="horizontal-list">
            {{#each myApps}}
                <li class="list-item">
                    <a href="#apps/{{id}}"><img src="imgs/templates/small_store_sm.jpg" class="template-thumbnail"><span>{{name}}</span></a>
                </li>
            {{/each}}
            </ul>
          </div>
        </li>
    {{/if_lt}}
{{/if}}