 <div id="templateList" role="window">

<!-- title bar region -->
<section role="region">
  <header>
    <button><span class="icon icon-menu">menu</span></button>
    <h1>Mozillapps</h1>
  </header>
</section>

<!-- content region -->
<section role="region" data-type="accordion">
    <ul id="appList" class="list">

    </ul>
    <ul id="templatelist" class="list">

    </ul>
</section>

<!-- footer region -->
<section role="region" data-type="footer">
    <footer></footer>
</section>
</div> 