/******************************************************************
 * 
 * SCREEN: APP BUILDER;
 *
 * Notes:
 * 1.
 * 
 */

/* template detail */
#appBuilderThemePicker [data-type="content"] header {
	height: auto !important;
	padding: 0.3rem 3.4rem 0 3.4rem !important;
	background: #a6a6a6 !important;
	background-image: none !important;
	margin: 0 !important;
	font-family: "MozTTMedium", Sans-serif !important;
    font-weight: 100 !important;
	font-size: 1.4rem;
	line-height: 2rem;
	text-transform: none;
    color: $default_primary_color !important;
    box-shadow: none !important;
}

#appBuilderThemePicker [data-type="content"] .template-detail {
	position: relative;
	border-top: 1px solid #525252;
	box-shadow:inset 0px 0px 5px rgba(0,0,0,.2);
	min-height:395px;
}

#appBuilderThemePicker [data-type="content"] .template-detail h1 {
	font-family: "OpenSans", Sans-serif;
	font-weight: normal;
	font-size: 2.1rem;
	margin:-0.9rem 0 1.7rem 2.8rem;
}

#appBuilderThemePicker [data-type="content"] .template-detail h2 {
	font-family: "OpenSans", Sans-serif;
	/* TODO: use SASS and consolidate */
	@include label-text;
	margin:0 0 0.2rem 0.6rem;
	font-size:1.4rem;
	font-weight:400;
}

#appBuilderThemePicker [data-type="content"] .template-detail ul {
	padding:0;
}

#appBuilderThemePicker [data-type="content"] .template-detail li {
	display:inline-block;
	/*
	height:180px;
	width:50%;
	*/
	padding:0;
	margin:0 0 0.8rem 0;
}

#appBuilderThemePicker [data-type="content"] .template-detail li:nth-child(odd) {
	padding:0 0.6rem 0 0;	
}

#appBuilderThemePicker [data-type="content"] .template-detail li {
	display:inline-block;
	/*
	height:180px;
	width:50%;
	margin:0 0 1.3rem 0;
	*/
}

#appBuilderThemePicker [data-type="content"] .template-detail label {
	display:block;
	/*
	height:92%;
	width:92%;
	margin:4%;
	*/
	text-align:center;
	font-family: "OpenSans", Sans-serif;
	font-size:1.4rem;
	@include label-text-dark;
}

#appBuilderThemePicker [data-type="content"] .template-detail input[type="radio"] {
	display:none;
}

#appBuilderThemePicker [data-type="content"] .template-detail input[type="radio"]:checked + img {
	border:0.6rem solid white;
}

#appBuilderThemePicker [data-type="content"] .template-detail img {
	/*
	display:block;
	width:100%;
	height:100%;
	-moz-box-sizing:border-box;
	border:0.3rem solid transparent;
	margin:0 0 0.6rem 0;
	*/

	border: 0.6rem solid transparent;
    display: block;
    height: 197px;
    width: 132px;
    box-shadow:none;
}