/******************************************************************
 * 
 * SCREEN: APP BUILDER;
 *
 * Notes:
 * 1.
 * 
 */

/* template detail */
#appBuilder [data-type="content"] header {
	height: auto !important;
	padding: 0.3rem 3.4rem 0 3.4rem !important;
	background: #a6a6a6 !important;
	background-image: none !important;
	margin: 0 !important;
	font-family: "MozTTMedium", Sans-serif !important;
    font-weight: 100 !important;
	font-size: 1.4rem;
	line-height: 2rem;
	text-transform: none;
    color: $default_primary_color !important;
    box-shadow: none !important;
}

#appBuilder [data-type="content"] .template-detail {
	position: relative;
	/* display: flex; */
	/*padding: 2rem 2rem;*/
	padding:1.7rem 0.7rem;
	/* flex-direction: row; */
	/* justify-content: flex-start; */
	border-top: 1px solid #525252;
	box-shadow:inset 0px 0px 5px rgba(0,0,0,.2);
}

#appBuilder [data-type="content"] .template-detail h1 {
	font-family: "OpenSans",Sans-serif;
    font-size: 1.9rem;
    font-weight: 100;
    margin: -0.9rem 0 1rem 2.7rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 24rem;
}

#appBuilder [data-type="content"] .template-detail .template-thumbnail-small {
	height: 9.4rem;
	width: 6.2rem;
	border: 0.1rem solid #5b5b5b;
}

#appBuilder [data-type="content"] .template-detail > div:first-child {
	margin-left: 2rem;
	/*flex: 0;*/
}

#appBuilder [data-type="content"] .template-detail > div {
	float: left;
	width: 14rem;
}

#appBuilder [data-type="content"] .template-detail > div:nth-child(2) {
	width: 10.5rem !important;
	margin-left:2.7rem;
}

#appBuilder [data-type="content"] .template-detail .recommend {
	margin: 0;
}

.components-list {
	border-bottom: 1px solid $default_text_color;
}

#appBuilder .preview {
	position: absolute;
	top: 2.2rem;
	right: 2rem;
	height: 8rem;
	width: 2rem;
	outline: none;
	border: 0;
}

#appBuilder #appBuilderPreview {
	margin:0 0 2rem 0;
}

/* ----------------------------------
 * COMPONENT LIST
 * ---------------------------------- */


/* Checkable content */


#appBuilder [data-type="list"] li > label {
  pointer-events: none;
  position: absolute;
  top: -.4rem;
  bottom: 0;
  right: 0;
  left: -.8rem;
  z-index: 1;
  width: auto;
  height: auto;
  border: none;
}

#appBuilder [data-type="list"] li > label input {
	opacity: 0;
	height: 5rem;
	width: 5rem;
	background-color: transparent;
}

#appBuilder [data-type="list"] li > label input[type='checkbox']:checked + div {
	background: transparent url(frog/widgets/buttons/images/check.png) no-repeat center center;
}

#appBuilder [data-type="list"] li > label input + div {
	position: relative;
	display: block;
	height: 5rem;
	width: 5rem;
	left: 0;
	top: -5rem;
	margin-left: 0;
}

#appBuilder [data-type="list"] [data-type="edit"] li {
	width: 100%;
  	transform: none;
  	padding: 0 0 0 0rem;
  	background-color: $default_secondary_color;
}

#appBuilder [data-type="list"] [data-type="edit"] li p {
	margin-left: 3.4rem;
}

#appBuilder [data-type="list"] [data-type="edit"] li p.disabled-text {
	color:#5B5B5B;
}

#appBuilder [data-type="list"] [data-type="edit"] li p:nth-child(1) {
	font-size: 1.7rem;
}

#appBuilder [data-type="list"] [data-type="edit"] li p:nth-child(2) {
	font-size: 1.4rem;
}

#appBuilder [data-type="list"] [data-type="edit"] li > label {
  pointer-events: auto;
}

#appBuilder [data-type="list"] [data-type="edit"] li > button {
	position: relative;
	top: -4rem;
	width: 95%;
	outline: none;
	border: 0;
	background: transparent;
}

#appBuilder [data-type="list"] [data-type="edit"] li:last-child {
	border-bottom: 1px solid $default_text_color !important;
}

#appBuilder .complete {
	background: transparent url(frog/widgets/buttons/images/check.png) no-repeat top right !important;
}