/******************************************************************
 * 
 * SCREEN: APP BUILDER OPEN APP;
 *
 * Notes:
 * 1. Publish confirmation screen, can open published app from here
 * 
 */

#appBuilderOpenApp > section:nth-child(1) {
	-moz-box-sizing: border-box;
    background-image: url("../../imgs/misc/publishConfirmation.jpg");
    height: 100%;
    text-align:center;
}

#appBuilderOpenApp .half-top {
	margin:23rem 0 0 0;	
	font-size:1.8rem;
	font-family: "OpenSans", Sans-serif;
	font-weight:normal;
	color: $default_primary_color;
	text-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
}

#appBuilderOpenApp .large-content-text {
	padding: 0 2.6rem;
	font-size:1.8rem;
	font-family: "OpenSansLight", Sans-serif;
	color: $default_primary_color;
	line-height:2rem;
	text-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
}

#appBuilderOpenApp .container-bottom {
	margin-top:3.8rem;
}