/******************************************************************
 * 
 * SCREEN: APP BUILDER NAME;
 *
 * Notes:
 * 1.
 * 
 */

/* product detail view mode */
#appBuilderName [data-type="content"] header {
	display:none;
}

#appBuilderName section[data-type="content"].box-padded {
	padding:2rem 2rem 2rem 2rem;
}

#appBuilderName [data-type="content"] div.grey-box {
	border:1px solid #ddd;
	background-color:#ccc;
	border-radius: 4px;
	padding:1rem;
}

#appBuilderName [data-type="content"] label {
	display:block;
}

/*
#appBuilderName [data-type="content"] p.box-unpadded {
	margin:0 0 1.6rem 0;
	padding:0;
}

#appBuilderName [data-type="content"] h2 {
	margin:1.2rem 0 0.3rem 0;
	@include content-header;
}
*/


