/******************************************************************
 * 
 * SCREEN: PRODUCT LIST EDIT;
 *
 * Notes:
 * 1.
 * 
 */

/* product list */
#productListEdit [data-type="content"] header {
	display:none;
}

#productListEdit [data-type="content"] div.product-empty {
	text-align:center;
	padding:2.0rem 20% 0 20%;
	@include text-medium;
}

#productListEdit [data-type="list"] li {
	height:auto;
	padding:0;
	position:relative;
	min-height:8.4rem;
}

#productListEdit [data-type="list"] li > label {
	margin:0;
	left: 0;
    margin: 0;
    position: absolute;
    top: 0;
}


#productListEdit [data-type="list"] li > label > input[type=checkbox] {
	/*margin:2.4rem 0.3rem 0.3rem 0rem;*/
	height:2.8rem;
	width:2.8rem;
	visibility:hidden;
}

#productListEdit [data-type="list"] li > label > input[type=checkbox] + div {
	height:2.8rem;
	width:2.8rem;
	position:absolute;
	top:3.0rem;
	left:0.8rem;
}

#productListEdit [data-type="list"] li > label > input[type=checkbox]:checked + div {
	background: transparent url(frog/widgets/buttons/images/check.png) no-repeat top right !important;
}


#productListEdit [data-type="list"] li > figure {
	margin:0;
	left: 4.4rem;
    margin: 0;
    position: absolute;
    top: 0;
}

#productListEdit [data-type="list"] li > figcaption {
	padding: 0 2.2rem 0 13.8rem;
    position: relative;
    right: 0;
    top: 0;
}


/* fixed position buttons on bottom */
#productListEdit [data-type="content"] .chrome-fixed-bottom {
	position:fixed;
	bottom:0px;
	width:100%;
	background-color:#4d4d4d;
	padding:2%;
	-moz-box-sizing:border-box;
}


#productListEdit [data-type="content"] .chrome-fixed-bottom  button {
	margin:0;
	display:block;
}