/******************************************************************
 * 
 * SCREEN: PRODUCT DETAIL EDIT;
 *
 * Notes:
 * 1.
 * 
 */

/* product detail edit mode */
#productDetailEdit [data-type="content"] header {
	display:none;
}

#productDetailEdit [data-type="content"] section.box-padded {
	padding:2rem 2rem 2rem 2rem;
}

#productDetailEdit [data-type="content"] p.box-unpadded {
	margin:0 0 1.6rem 0;
	padding:0;
}

#productDetailEdit [data-type="content"] p.box-unpadded:nth-child(1) img {
	display:block;
	width:8.3rem;
	height:8.3rem;
}

#productDetailEdit [data-type="content"] p.box-button-footer {
	 margin: 2rem 0 1.2rem;
}

#productDetailEdit [data-type="content"] p.box-button-footer button {
	margin:0rem;
}

#productDetailEdit [data-type="content"] h2 {
	margin:1.2rem 0 0.3rem 0;
	@include content-header;
}


