/******************************************************************
 * 
 * SCREEN: PRODUCT ADD IMAGE;
 *
 * Notes:
 * 1.
 * 
 */

/* product add image */
#productAddImage [data-type="content"] header {
	display:none;
}

#productAddImage [data-type="content"] div p {
	margin-top:20
}

/* fixed position buttons on bottom */
#productAddImage [data-type="content"] div.chrome-fixed-bottom {
	position:fixed;
	bottom:0px;
	width:100%;
	background-color:#4d4d4d;
}

#productAddImage [data-type="content"] div.chrome-fixed-bottom > ul {
	/*
	display: flex;
	flex-direction: row;
	*/
	width: 100%;
	padding: 0 !important;
}

#productAddImage [data-type="content"] div.chrome-fixed-bottom > ul > li {
	@include text-large;
	text-align: center;
	display:block;
	width:47%;
	padding:0.6rem 0 0.6rem;
	float:left;
	
}
#productAddImage [data-type="content"] div.chrome-fixed-bottom > ul > li:first-child {
	padding-left:2%;
	padding-right:1%;
}

#productAddImage [data-type="content"] div.chrome-fixed-bottom > ul > li:last-child {
	padding-left:1%;
	padding-right:2%;
}

#productAddImage [data-type="content"] div.chrome-fixed-bottom > ul > li button {
	margin:0;
}