
/* using important override here as header seem to be broadly declared in gaia headers.css */

section[data-type="accordion"] > .header {
	height: auto !important;
	padding: 1rem 0rem 1rem 2.1rem !important;
	background: $default_primary_color !important;
}

section[data-type="accordion"] .title {
	font-family: "OpenSansLight";
	font-size: 2.2rem;
	font-weight: normal;
	line-height: 3rem;
	color: $default_text_color;
}

section[data-type="accordion"] > .list {
	padding: 0px;
	border-top: 1px solid $default_border_color;
}

section[data-type="accordion"] > .list > li > .list-item {
	display: block;
	padding: 1.3rem 4rem 1.3rem 3.5rem;
	margin: 0;
	font-family: "MozTTLight";
	font-weight: normal;
	font-size: 1.7rem;
	background-color: $default_secondary_color;
}

/* start horizontal list */
 .horizontal-list {
 	margin: 2rem 0 .8rem 0;
 }

#templateList .list-item-body {
	overflow: scroll;
	width: 100%;
	background: $default_tertiary_color;
	box-shadow: inset 0 0 .2rem #000;
	border-bottom: 1px solid $default_border_color;
}

#templateList .list-item-body > .horizontal-list {
	width: 600px;
	display: flex;
	flex-direction: row;
	align-items: stretch;
	justify-content: flex-start;
}

.horizontal-list > .list-item {
	width: 130px;
	margin-right: 2.1rem;
	font-family: "OpenSansLight";
	font-size: 1.4rem;
	font-weight: 100;
	line-height: 2.5rem;
	text-align: center;
}

.horizontal-list > .list-item > .template-thumbnail {
	border: 1px solid #bababa;
	box-shadow: 0px 0px 4px #000;
}

/* CSS powered interaction */

.list > li > input[type="radio"] {
	opacity: 0;
	position: absolute;
	display: box;
	width: 320px;
	height: 4rem;
	outline: none;
	border: 1px solid red;
	background-color: red;
}

.list-item-body {
	height: 0px;
	transition: height 1s;
}

.list > li > input[type="radio"]:checked+label+div.list-item-body {
	display: block;
	height: 20rem;
	overflow: scroll;
}

.list > li > input[type="radio"]:checked+label.list-item {
	background: $default_secondary_color url(frog/widgets/accordion/images/arrow_black_up.png) no-repeat  97% 50%;
}

