/******************************************************************
 * 
 * BUTTON EXTENSIONS AND OVERRIDES
 *
 * Notes:
 * 1. not much here.
 * 
 */

/* ----------------------------------
 * BUTTONS: frog themes
 * ---------------------------------- */

section[role="region"].skin-aqua button.buy,
section[role="region"].skin-aqua a[role="button"].buy {
	width: auto;
	height: auto;
	margin: 0;
	padding: 0 1.2rem;
	-moz-box-sizing: border-box;
	display: inline-block;
	vertical-align: middle;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	background: $aqua_color;
	border: none;
	border-radius: 0.1rem;
	font-size: 1.7rem;
	font-family: 'Open Sans', Sans-serif;
	font-weight: 600;
	line-height: 3rem;
	color: #fff;
	text-align: center;
	text-shadow: none;
	text-decoration: none;
	outline: none;
	box-shadow: 0 0 3px #000;
}