/******************************************************************
 * 
 * BUTTON EXTENSIONS AND OVERRIDES
 *
 * Notes:
 * 1. not much here.
 * 2. need to add states!
 * 
 */

/* ----------------------------------
 * BUTTONS: frog actions
 * ---------------------------------- */

section[role="region"] button.previous, section[role="region"] button.next {
	height: 4rem;
	width: 4rem;
	outline: none;
	border: none;
}
section[role="region"] button.next {
	transform:rotate(90deg);
	background: transparent url(frog/widgets/accordion/images/arrow_black_up.png) no-repeat center center;
}

section[role="region"] button.previous {
	transform:rotate(-90deg);
	background: transparent url(frog/widgets/accordion/images/arrow_black_up.png) no-repeat center center;
}

/* ----------------------------------
 * BUTTONS: frog themes
 * ---------------------------------- */

.theme-01 button.buy,
.theme-01 a[role="button"].buy {
	width: auto;
	height: auto;
	margin: 0;
	padding: 0 .6rem;
	-moz-box-sizing: border-box;
	display: inline-block;
	vertical-align: middle;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	background: $theme_01_button_color;
	border: none;
	border-radius: 0.2rem;
	font-size: 1.7rem;
	font-family: 'Open Sans', Sans-serif;
	font-weight: 400;
	line-height: 3rem;
	color: #fff;
	text-align: center;
	text-shadow: none;
	text-decoration: none;
	outline: none;
	box-shadow: 0 0 4px rgba(0,0,0,0.6);
}


.theme-02 button.buy,
.theme-02 a[role="button"].buy {
	width: auto;
	height: auto;
	margin: 0;
	padding: 0 .6rem;
	-moz-box-sizing: border-box;
	display: inline-block;
	vertical-align: middle;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	background: $theme_02_button_color;
	border: none;
	border-radius: 0.2rem;
	font-size: 1.7rem;
	font-family: 'Open Sans', Sans-serif;
	font-weight: 400;
	line-height: 3rem;
	color: #fff;
	text-align: center;
	text-shadow: none;
	text-decoration: none;
	outline: none;
	box-shadow: 0 0 4px rgba(0,0,0,0.6);
}