/******************************************************************
 * 
 * CONTAINER EXTENSIONS AND OVERRIDES
 *
 * Notes:
 * 1. inconsistent font usage between PSD and Gaia headers, going with Gaia on that.
 * 
 */



/* ----------------------------------
 * CONTAINER: frog themed
 * ---------------------------------- */

section[role="region"].outer-chrome {
	background-color:#4d4d4d;	
	padding:2%;
}

.outer-chrome button {
	margin:0;
}

div[role="window"].theme-01 {
    background-color: $theme_01_primary_color;
    color: $theme_01_text_color;
}

.theme-01 .fade {
	background: -moz-linear-gradient(top, #342e31 0%, #342e31 40%, #4b4246 100%);
}

.theme-02 .fade {
	background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 40%, #afada5 100%);
}

.box-padded {
	padding:2rem;
}

/* used for the publish progress screen */
div[role="window"].dark-bg {
	background-color: #333;
}

.medium-bg {
	background-color: #4f4e4e;
}

.round-corners {
	border-radius: 0.3rem 0.3rem 0.3rem 0.3rem;
}