/******************************************************************
 * 
 * CONTAINER EXTENSIONS AND OVERRIDES
 *
 * Notes:
 * 1. inconsistent font usage between PSD and Gaia headers, going with Gaia on that.
 * 
 */


/* ----------------------------------
 * CONTAINER: frog themed
 * ---------------------------------- */


div[role="window"].theme-01 {
    background-color: $theme_01_primary_color;
    color: $theme_01_text_color;
}

.theme-01 .fade {
	background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 40%, #afada5 100%);
}
