/******************************************************************
 * 
 * INPUT EXTENSIONS AND OVERRIDES
 *
 * Notes:
 * 1. 
 * 
 */

/* ----------------------------------
 * INPUTS: frog form inputs
 * ---------------------------------- */

section[role="region"] input[type="text"], 
section[role="region"] textarea, 
section[role="region"] input[type="password"]{
	width:100%;
	border:1px solid #ccc;
	border-radius: 4px;
	padding:0.5rem;
	box-shadow: inset 0 0 3px #ccc;
	-moz-box-sizing:border-box;
	@include input-text;
}

section[role="region"] textarea{
	overflow:hidden;
}

section[role="region"] label {
	text-transform:uppercase;
	@include label-text;	
}

section[role="region"] label.label-dark {
	@include label-text-dark;
}

